.app-header {
  display: grid;
  align-items: center;
  column-gap: var(--mantine-spacing-6);
  grid-template-columns: repeat(3, 1fr);
}

.app-header__left {
  column-gap: var(--mantine-spacing-11);
}

.app-header__logo {
  height: 34px;
  width: auto;
}

.app-header__left__menu-list {
  display: flex;
  align-items: center;
  column-gap: var(--mantine-spacing-9);
}
